<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerWorld</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/deli-very.css">
        <script src="/vue/vue.js" defer></script>
        <!--<script src="js/deli-very.js" defer></script>-->
    </head>
    <body>
      <main id="main">
           <header class="header">
              <img id="bar" src="img/bar.jpg">
              <h1 id="welcome">Welcome to BurgerWorld</h1>
            </header>
            <section id="burgers">

             <!-- VUE -->
              <div id="burgervue">
                <h1> {{ select }}</h1>
                <p> {{ selectinfo }}</p>

                <div id="burgershop">
                  <div v-for="burger in menu">
                    <div>
                      <h4> {{ burger.name }} </h4>
                      <input type="checkbox" name="burgers":value="burger.name">
                      <br>
                      <br>

                      <img class="burgerimages" v-bind:src="burger.img">

                      <ul id="vuetext">
                        <li> {{ burger.kcal }} kcal </li>
                        <li v-if="burger.lactose"> Contains <span class="allergies">lactose</span></li>
                        <li v-if="burger.gluten"> Contains <span class="allergies">gluten</span></li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- CUSTOMER INFORMATION SECTION-->
            <section id="information">
              <h2>Customer information</h2>
              <p>This is where you provide necessary information</p>

              <h3>Delivery information:</h3>

              <form>
                <p>
                    <label for="fullname">Full name</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
                  </p>
                  <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                  </p>
                  <!--<p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="str" required="required" placeholder="Street name">
                  </p>
                  <p>
                    <label for="house">House</label><br>
                    <input type="number" id="house" name="hou" required="required" placeholder="House number">
                  </p> -->
                <p>
                    <label for="Payment options">Payment options</label><br>
                    <select id="Payment options" name="po">
                      <option selected="selected">Credit card</option>
                      <option>PayPal</option>
                      <option>BitCoin</option>
                      <option>Send us cash</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" id="Male" name="gender" value="male">Male<br>
                    <input type="radio" id="Female" name="gender" value="female">Female<br>
                    <input checked="checked" type="radio" id="Other" name="gender" value="other">Do not wish to provide<br>
                </p>

                  <h1> Click in the map! </h1>
                  <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                  <div class="view-box">
                    <!--<div id="dots" v-on:click="addOrder">-->
                    <div id="dots" v-on:click="displayOrder">
                      <div id="target" v-bind:style="{ left: tmpDetails.x + 'px', top: tmpDetails.y + 'px'}"> {{ tmpSign }} </div>
                        <!--<div
                          v-for="(order, key) in orders"
                          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                          {{key}}
                        </div>-->
                    </div>
                  </div>

              </form>
            </section>

            <!-- BUTTON FOR SUBMITTING THE FORM-->
            <button id="orderButton" type="submit" v-on:click="addOrder"><img src="https://www.clipartmax.com/png/middle/307-3073773_delivery-car-vector.png" width="50">Place my order!</button>
            <br>
            <br>
            <div id="orderoutput"></div>

        </main>

        <br>
        <hr>
        <footer>&copy Me, I did this website</footer>

      </body>
</html>
